package ${package}.${moduleName}.entity;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasDate})
import java.sql.Date;
#end
import java.time.Instant;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;

/**
 * ${comments}
 *
 * @author ${author}
 */
@Schema(title = "${comments}")
@Data
@TableName("${tableName}")
public class ${className}Entity {
#foreach ($column in $columns)

	#if($column.columnName == $pk.columnName)
@TableId(value = "$column.columnName", type = IdType.ASSIGN_ID)
	#end
@Schema(title = "$column.comments")
	private $column.attrType $column.attrname;
#end

}
